<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a style="font-size: larger;" href="/">Quay lại</a>
</body>
</html>
<script>
    // Kiểm tra nếu có thông báo lỗi trong URL
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');

        alert(error);
</script>